body {
    font-family: sans-serif;
    background-color: #eef2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

canvas {
    border: 5px solid #5d4037;
    background-color: #fff;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}